USE [master]
GO
/****** Object:  Database [my_IT_system]    Script Date: 2022/12/11 20:36:51 ******/
CREATE DATABASE [my_IT_system]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'my_IT_system', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\my_IT_system.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'my_IT_system_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\my_IT_system_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [my_IT_system].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [my_IT_system]
GO
/****** Object:  Schema [AAS]    Script Date: 2022/12/11 20:36:51 ******/
CREATE SCHEMA [AAS]
GO
/****** Object:  Schema [AMS]    Script Date: 2022/12/11 20:36:51 ******/
CREATE SCHEMA [AMS]
GO
/****** Object:  Schema [CIES]    Script Date: 2022/12/11 20:36:51 ******/
CREATE SCHEMA [CIES]
GO
/****** Object:  Schema [tmp]    Script Date: 2022/12/11 20:36:51 ******/
CREATE SCHEMA [tmp]
GO
/****** Object:  Table [AAS].[Activity]    Script Date: 2022/12/11 20:36:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AAS].[Activity](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](100) NULL,
	[OrganizationName] [nchar](100) NULL,
	[time] [nchar](100) NULL,
	[MaterialsID] [int] NULL,
	[SiteID] [int] NULL,
	[ExpenditureID] [int] NULL,
	[GroupID] [int] NULL,
	[Content] [ntext] NULL,
 CONSTRAINT [PK_Activity] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [AAS].[Expenditure]    Script Date: 2022/12/11 20:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AAS].[Expenditure](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TotalMoney] [float] NULL,
	[Auditor] [varchar](max) NULL,
	[ShoppingList] [varchar](max) NULL,
	[Application] [varchar](max) NULL,
	[SubmitTime] [varchar](max) NULL,
	[state] [varchar](max) NULL,
 CONSTRAINT [PK_Expenditure] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [AAS].[Materials]    Script Date: 2022/12/11 20:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AAS].[Materials](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaterialsList] [nchar](1000) NULL,
	[Borrower] [int] NULL,
	[time] [nchar](200) NULL,
	[BorrowingPurposes] [nchar](1000) NULL,
 CONSTRAINT [PK_Materials] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [AAS].[Site]    Script Date: 2022/12/11 20:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AAS].[Site](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ApplicantSite] [nchar](100) NULL,
	[Borrower] [nchar](100) NULL,
	[time] [nchar](100) NULL,
	[ApplicationPurposes] [nchar](1000) NULL,
 CONSTRAINT [PK_Site] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [AMS].[Members]    Script Date: 2022/12/11 20:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AMS].[Members](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nchar](10) NULL,
	[Password] [nchar](10) NULL,
	[Name] [nchar](100) NULL,
	[Sex] [nchar](50) NULL,
	[Profession] [nchar](100) NULL,
	[Introduction] [ntext] NULL,
	[PostID] [int] NULL,
	[MessageBoxID] [int] NULL,
 CONSTRAINT [PK_Members] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [CIES].[Label]    Script Date: 2022/12/11 20:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CIES].[Label](
	[PostID] [int] NOT NULL,
	[label] [nchar](100) NOT NULL,
 CONSTRAINT [PK_Label] PRIMARY KEY CLUSTERED 
(
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CIES].[Pictures]    Script Date: 2022/12/11 20:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CIES].[Pictures](
	[PostID] [int] NOT NULL,
	[Url] [nchar](300) NOT NULL,
	[Orderr] [int] NOT NULL,
 CONSTRAINT [PK_Pictures] PRIMARY KEY CLUSTERED 
(
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CIES].[Posts]    Script Date: 2022/12/11 20:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CIES].[Posts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [int] NOT NULL,
	[VidioUrl] [nchar](300) NULL,
	[Title] [nchar](100) NULL,
	[Introduction] [ntext] NULL,
	[Content_] [ntext] NULL,
	[CommentsArea] [int] NULL,
 CONSTRAINT [PK_Posts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tets]    Script Date: 2022/12/11 20:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tets](
	[username] [int] NULL,
	[password] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [tmp].[Group]    Script Date: 2022/12/11 20:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tmp].[Group](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](1000) NULL,
	[Type] [int] NULL,
 CONSTRAINT [PK_Group] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [tmp].[GroupNode]    Script Date: 2022/12/11 20:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tmp].[GroupNode](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MemberID] [int] NULL,
 CONSTRAINT [PK_GroupNode] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [tmp].[MessageBoxs]    Script Date: 2022/12/11 20:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tmp].[MessageBoxs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MessageBox] [int] NULL,
 CONSTRAINT [PK_MessageBoxs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [tmp].[Messages]    Script Date: 2022/12/11 20:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tmp].[Messages](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Sender] [int] NOT NULL,
	[Receiver] [int] NOT NULL,
	[Content_] [ntext] NULL,
	[time] [date] NULL,
 CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'活动调用人员' , @level0type=N'SCHEMA',@level0name=N'AAS', @level1type=N'TABLE',@level1name=N'Activity', @level2type=N'COLUMN',@level2name=N'GroupID'
GO
USE [master]
GO
